-rank=stair.rank
-worse=stair.on_worse_rank.all({:limit=>4})
-same=stair.on_same_rank.all({:limit=>3})<<stair
-better=stair.on_better_rank.all({:limit=>4})
-if better.empty? #on first place,whohoo
  -even_worse=worse.first.on_worse_rank.all({:limit=>4}) rescue []
  -logger.error even_worse.inspect
  = render :partial => 'rostrum',:object=>[same,worse,even_worse],:locals=>{:small=>true}
-else
  .stair
    .worse
      .upper
        -(worse||[]).each do |user|
          = user_photo_link user, :thumb
      .lower
        .rank
          =rank +1
        .points
          =worse.first.points rescue ""
    .same>
      .upper
        -(same||[]).each do |user|
          = user_photo_link user, :thumb
      .lower
        .rank
          =rank
        .points
          =same.first.points rescue ""
    .better>
      .upper
        -(better||[]).each do |user|
          = user_photo_link user, :thumb
      .lower
        .rank
          =rank-1
        .points
          =better.first.points rescue ""
